.header {
  height: 55px;
  width: 100%;
  background-color: #0C511F;
  border-bottom: 1.7px solid #FFFFFF;
  padding: 10px;
}
.header__button-mb {
  display: none;
}
@media all and (max-width: 991.99px) {
  .header__button-mb {
    display: block;
  }
}
.header__button-mb .toggle {
  position: relative;
  width: 70px;
  height: 70px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.header__button-mb .toggle span {
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background: #1863ff;
  transition: 0.5s;
}
.header__button-mb .toggle span:nth-child(2) {
  transform: translateY(-15px);
  width: 25px;
  left: 15px;
}
.header__button-mb .toggle span:nth-child(3) {
  transform: translateY(15px);
  width: 15px;
  left: 15px;
}
.header__button-mb .toggle.active span:nth-child(1) {
  transform: translateX(60px);
}
.header__button-mb .toggle.active span:nth-child(2) {
  width: 40px;
  transform: translateX(0) rotate(45deg);
  transition-delay: 0.2s;
}
.header__button-mb .toggle.active span:nth-child(3) {
  width: 40px;
  transform: translateX(0) rotate(-45deg);
  transition-delay: 0.4s;
}
.header__menu {
  display: flex;
  justify-content: space-around;
  position: relative;
}
@media all and (max-width: 991.99px) {
  .header__menu {
    display: none;
  }
}
.header__menu.mb-active {
  display: block;
}
.header__menu-contact {
  display: flex;
}
.header__menu-contact .item a {
  font-family: "Averta Std CY";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 1px;
  margin: 26px;
}
@media all and (max-width: 1399.99px) {
  .header__menu-contact .item a {
    font-size: 17px;
  }
}
@media all and (max-width: 1199.99px) {
  .header__menu-contact .item a {
    font-size: 14px;
  }
}
.header__menu-box-logo {
  position: absolute;
  height: 30px;
  width: 45px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__menu img {
  margin: 25px;
  width: 100%;
}
.header-navigation {
  display: flex;
  word-spacing: 2.6px;
}
@media all and (max-width: 991.99px) {
  .header-navigation {
    display: none;
  }
}
.header-navigation .item a {
  font-family: "Averta Std CY";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  margin: 14px;
}

.home__banner {
  padding: auto;
  height: 300px;
  width: 100%;
  background: rgba(2, 39, 6, 0.7);
  color: #022706;
}
.home__banner img {
  position: absolute;
  width: 670px;
  height: 260px;
  margin-left: 26.5%;
  padding: 90px;
  margin-top: -140px;
}
.home__banner h1 {
  padding: 47px;
  margin-left: 44.5%;
  color: #FFFFFF;
  font-weight: 650;
  font-style: normal;
  font-size: 15px;
}
.home__banner h2 {
  padding: 40px;
  margin-left: 29%;
  font-weight: 600;
  color: #FFFFFF;
  font-style: normal;
  font-size: 40px;
  margin-top: 75px;
}
.home__slide-product {
  padding: auto;
}

/*# sourceMappingURL=style.css.map */
