.header{
    height: 55px;
    width: 100%;
    background-color: #0C511F;
    border-bottom: 1.7px solid #FFFFFF;

    &__box2{
        position: absolute;
        height: 30px;
        width: 45px;
        left: 50%;
        top: 30px;
    }
}