
.home {
    &__banner{
        padding: auto;
        height: 300px;
        width: 100%;
        background: rgba(2, 39, 6, 0.7);
        color: #022706 ;
    
        img {
            position: absolute;
            width: 670px;
            height: 260px;
            margin-left: 26.5%;
            padding:90px ;
            margin-top: -140px;
        }
        h1 {
            padding: 47px;
            margin-left: 44.5%;
            color: #FFFFFF;
            font-weight: 650;
            font-style: normal;
            font-size:15px;
        }
        h2{
            padding: 40px;
            margin-left: 29%;
            font-weight: 600;
            color: #FFFFFF;
            font-style: normal;
            font-size:40px;
            margin-top: 75px;
        }
    }

    &__slide-product{
        padding: auto;
        
    }
}